<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des auteurs et des livres</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 2em;
            margin-bottom: 20px;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
            text-transform: uppercase;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        td {
            color: #333;
        }

        .center {
            text-align: center;
        }

        .highlight {
            color: #007bff;
        }

        .container {
            margin-bottom: 50px; /* Sépare chaque section avec un espacement */
            padding: 20px;
            border: 2px solid #e0e0e0;
            border-radius: 10px;
            background-color: #fff;
        }

        /* Responsive Design */
        @media (max-width: 768px) {
            table {
                width: 100%;
            }

            th, td {
                padding: 10px;
                font-size: 14px;
            }
        }
    </style>
</head>
<body>



<div class="container">
    <h1>Liste des livres par auteur</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Publication Date</th>
                <th>Category</th>
                <th>Auteur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.publicationDate | date('M d, Y') }}</td>
                    <td>{{ book.category}}</td>
                    <td>{{ book.author.username }}</td>
                     <td><a href="{{ path('app_editBook', {'ref': book.ref}) }}" class="edit">Éditer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
